:root {
  background-color: var(--surface-s0);
  padding: var(--p-sm);
}

.background-container {
  min-height: 100vh;
}

.central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  font-size: 30px;
  line-height: 1.2;

  background: linear-gradient(90deg, #c6500e, #ffeec2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
  align-items: flex-start;
}

.board-layout {
  padding-top: 50px;
}

.menu-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  height: 30px;
  margin: 10px;

  transition:
    transform 0.2s,
    right 0.2s;
}

.button-shifted {
  transform: rotate(180deg);
}

.menu-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.button-shifted:hover {
  transform: rotate(180deg) scale(1.1);
}

.sikret {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 4px;

  line-height: 1.6;

  color: var(--primary);
}

.sikret:hover {
  background-color: #444;
  cursor: pointer;
}

.sikret-hide:hover {
  cursor: pointer;
  background-color: #444;
}

/* Mobile Resolution */
@media screen and (max-width: 768px) {
  .game-header {
    width: 100%;
    justify-content: space-between;
  }

  .game-header h1 {
    margin-right: 20px;
  }

  .menu-button {
    position: static;
    margin: 0;
  }
}

/* Tablet Resolution */
