.background-container {
  min-height: 100vh;
  background-color: var(--surface-s0);
}

.central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  margin-top: 20px;

  font-size: 30px;

  background: linear-gradient(90deg, #c6500e, #ffeec2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
}

.board-layout {
  padding-top: 50px;
}

.menu-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  margin: 10px;

  transition:
    transform 0.2s,
    right 0.2s;
}

.button-shifted {
  transform: rotate(180deg);
}

.menu-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.button-shifted:hover {
  transform: rotate(180deg) scale(1.1);
}

.drawer-menu {
  position: fixed;
  top: 0;
  right: calc(0px - var(--drawer-width));

  height: 100vh;
  width: var(--drawer-width);

  transition: right 0.2s;

  background-color: #444;
  box-shadow: -2px 0 10px #222;

  padding: 20px;
  color: var(--primary);
}

.drawer-opened {
  right: 0;
}

.drawer-menu .content {
  transition: opacity 0s;
  opacity: 0;

  display: flex;
  flex-direction: column;
}

.drawer-menu .content-opened {
  opacity: 1;
  transition: opacity 1.5s;
}

.drawer-menu .subtitle {
  margin-top: 50px;
}

.drawer-menu .pattern-button {
  font-size: 16px;
  color: var(--primary);
  transition: background-color 0.3s;

  width: 100%;
  margin-top: 10px;
  background-color: var(--surface-s1);
  border-radius: 5px;
}

.drawer-menu button > div {
  padding: 10px;
  padding-left: 20px;
}

.drawer-menu button:hover {
  cursor: pointer !important;
  background-color: #999 !important;
}

.sikret {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 4px;

  line-height: 1.6;

  color: var(--primary);
}

.sikret:hover {
  background-color: #444;
  cursor: pointer;
}

.sikret-hide:hover {
  cursor: pointer;
  background-color: #444;
}

/* Mobile Resolution */
@media screen and (max-width: 768px) {
  .game-header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 20px;
  }

  .game-header h1 {
    margin-right: 20px;
  }

  .menu-button {
    position: static;
    margin: 0;
  }
}

/* Tablet Resolution */
