html {
  font-family: 'Randy GG', 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Randy GG";
  src: url('https://cgl-svelte.vercel.app/fonts/RandyGGRegular.ttf') format("truetype");
}
