.control-bar {
  display: flex;
  justify-content: center;

  margin: 50px 20px 0;
}

@media screen and (max-width: 768px) {
  .control-bar {
    flex-direction: column;
    margin-top: 20px;
  }
}

.game-config {
  display: flex;
}

.input-group {
  display: flex;
  align-items: center;
}

.control-input {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  color: var(--primary);
  font-size: 16px;

  border-bottom: 2px solid var(--primary-dimmed);
  transition: border 0.2s;

  height: 20px;
  width: 30px;
  padding: 0 5px;

  margin-left: 5px;
}

.control-input:focus-visible,
.control-input:hover {
  border-bottom: 2px solid var(--primary);
}

.control-input:disabled {
  border-color: transparent;
}

.input-spinners {
  margin-left: 5px;
  width: auto !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-spinners button {
  padding: 0 4px;
}

.input-spinners button:hover {
  background-color: #444;
  border-radius: 5px;
  cursor: pointer;
}

.input-spinners button:disabled {
  cursor: default;
  background-color: inherit;
}

.button-group {
  margin-left: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .button-group {
    margin-left: 0;
    margin-top: 10px;
  }
}

.button-group > button + button {
  margin-left: 10px;
}

.control-button {
  transition: transform 0.2s;
  display: flex;
  align-items: center;
}

.control-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.control-button:disabled {
  transform: none;
  cursor: not-allowed;
}